@using System.Net.Http
@inject HttpClient Http
@using System.Threading.Tasks
@using System.IO;
@using System.Text.Json;
@using DocumentMicroservice.UI.Model;
@page "/"

<PageTitle>Document Microservice</PageTitle>

    <EditForm Model="@document" OnSubmit="@SendRequest">
        <DataAnnotationsValidator />
        <Microsoft.AspNetCore.Components.Forms.ValidationSummary />
        <div class="col-10 Foorm">
            <div>
                <label for="DocumentId" class="form-label">Document Id</label>
                <input @bind="document.Id" type="text" class="form-control" id="DocumentId" placeholder="Идентификатор документа"/>
            </div>

            <div class="col-3 subButtom Foorm" style="margin-top: 8px">
                <button type="button" class="btn btn-primary" @onclick="SetNewGuid">Новый id</button>
            </div>

            <!--<div class="col-3 subButtom Foorm" style="margin-top: 8px">
                <button class="btn btn-primary" @onclick="GetDocById">Найти по id</button>
            </div>-->
        </div>

        <div class="col-10 Foorm">
            <label for="inputAddress" class="form-label">Title</label>
            <input @bind="document.Title" type="text" class="form-control" id="inputAddress" placeholder="Название Документа" />
        </div>

        <div class="col-10 py-2 Foorm">
            <label for="inputAddress2" class="form-label">Content</label>
            <input @bind="document.Content" type="text" class="form-control" id="inputAddress2" placeholder="Краткое описание" />
        </div>

        <div class="col-3 subButtom Foorm">
            <button type="submit" class="btn btn-primary" >Добавить/Изменить</button>
        </div>
    </EditForm>

    <div style="margin-top: 20px">
        @if (!allDocuments.Any())
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <dl>
                @foreach (var doc in allDocuments) {
                    <dt>@doc.Title - @doc.Id</dt>
                        <dd>@doc.Content</dd>
                }
            </dl>
        }
    </div>

@code {

    private Document document = new();
    private IReadOnlyList<Document> allDocuments = new List<Document>();

    public string BaseUri { get; set; } = "https://localhost:5001/api/Documents/";

    private void SetNewGuid() {
        document.Id = Guid.NewGuid();
    }

    /*protected override async Task OnInitializedAsync() {
        await GetAllDocumentsAsync();
    }*/

    private void SendRequest() {
        HttpRequestMessage request = new HttpRequestMessage(new HttpMethod("POST"), BaseUri);
        var serializedDoc = JsonSerializer.Serialize<Document>(document);
        request.Content = new StringContent(serializedDoc);
        request.Content.Headers.Remove("Content-Type");
        request.Content.Headers.Add("Content-Type", "application/json");
        var response = Http.Send(request);
        var content = response.Content.ReadAsByteArrayAsync().Result;
        Console.WriteLine(response);
    }

    private async Task GetAllDocumentsAsync() {
        var response = await Http.GetAsync(BaseUri);
        var content = response.Content.ReadAsByteArrayAsync().Result;
        if (response.IsSuccessStatusCode) {
            allDocuments = JsonSerializer.Deserialize<IReadOnlyList<Document>>(content);
        }
    }

    private void GetDocById() {
        GetDocumentAsync();
    }

    private async Task GetDocumentAsync() {
        string uri = string.Concat(BaseUri, document.Id.ToString());
        var response = await Http.GetAsync(uri);
        var content = response.Content.ReadAsByteArrayAsync().Result;
        if (response.IsSuccessStatusCode){
            document = JsonSerializer.Deserialize<Document>(content);
        }
    }
}

